# Gender Wage Gap Data Processing

In [2]:
import pandas as pd
import numpy as np

## 1 Map Country Codes

In [4]:
# numeric is country id, which will be used in the map to identify countries
df_country = pd.read_excel("country_codes.xlsx")
df_country.head()

          Country Alpha-2 code Alpha-3 code  Numeric
0   Åland Islands           AX          ALA      248
1        Zimbabwe           ZW          ZWE      716
2          Zambia           ZM          ZMB      894
3           Yemen           YE          YEM      887
4  Western Sahara           EH          ESH      732

In [27]:
df_gap = pd.read_csv("gap.csv", delimiter=";")
df_gap.head()

  location indicator   subject measure frequency  time           value
0      AUS   WAGEGAP  EMPLOYEE      PC         A  1975  21.582.733.813
1      AUS   WAGEGAP  EMPLOYEE      PC         A  1976  20.754.716.981
2      AUS   WAGEGAP  EMPLOYEE      PC         A  1977  18.390.804.598
3      AUS   WAGEGAP  EMPLOYEE      PC         A  1978  19.791.666.667
4      AUS   WAGEGAP  EMPLOYEE      PC         A  1979              20

In [28]:
df = df_gap.merge(df_country[["Alpha-3 code", "Country", "Numeric"]], left_on='location', right_on='Alpha-3 code', how='left')
df.head()

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582.733.813,AUS,Australia,36.0
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754.716.981,AUS,Australia,36.0
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390.804.598,AUS,Australia,36.0
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791.666.667,AUS,Australia,36.0
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20,AUS,Australia,36.0

In [29]:
# 'OECD', 'EU27' can't match any country code
df[df["Alpha-3 code"].isna()]["location"].unique()

array(['OECD', 'EU27'], dtype=object)

In [32]:
EU27_str = "Austria, Belgium, Bulgaria, Croatia, Cyprus, the Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, the Netherlands, Poland, Portugal, Romania, Slovak Republic, Slovenia, Spain, Sweden"
EU27_countries = EU27_str.split(", ")
assert(len(EU27_countries) == 27)
all_countries = df["Country"].unique()
print("Among EU27 countries, the following countries don't have its own data:")
for country in EU27_countries:
    if (country not in all_countries):
        print(country)

Among EU27 countries, the following countries don't have its own data:
the Czech Republic
the Netherlands
Slovak Republic

We won't draw EU27 and OECD countries in the map, but we'll draw it in the bar chart!

## 2 Data Processing

In [33]:
# edit wierd value columns
df["split_value"] = df["value"].str.split(".")
df["joined_value"] = df["split_value"].apply(lambda x: ".".join(x[:2]))
df["value"] = df["joined_value"].astype(float)
df = df.drop(["split_value", "joined_value"], axis=1)
df

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582,AUS,Australia,36.0
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754,AUS,Australia,36.0
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390,AUS,Australia,36.0
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791,AUS,Australia,36.0
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20.000,AUS,Australia,36.0
...,...,...,...,...,...,...,...,...,...,...
1205,EU27,WAGEGAP,EMPLOYEE,PC,A,2016,115.776,NaN,NaN,NaN
1206,EU27,WAGEGAP,EMPLOYEE,PC,A,2017,113.314,NaN,NaN,NaN
1207,EU27,WAGEGAP,EMPLOYEE,PC,A,2018,111.385,NaN,NaN,NaN
1208,EU27,WAGEGAP,EMPLOYEE,PC,A,2019,111.223,NaN,NaN,NaN
1209,EU27,WAGEGAP,EMPLOYEE,PC,A,2020,107.951,NaN,NaN,NaN

In [34]:
df["subject"].value_counts()

subject
EMPLOYEE        766
SELFEMPLOYED    444
Name: count, dtype: int64

In [61]:
df_employee = df[df["subject"] == "EMPLOYEE"]
df_employee
# drop OECD and EU27
# df_employee_id = df_employee.dropna(subset=['Numeric'])
# df_employee_id["Numeric"] = df_employee_id["Numeric"].astype('int')
# df_employee_id
# df_employee_id_out = pd.pivot_table(df_employee_id, values='value', index=['time'], columns=['Numeric'])

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582,AUS,Australia,36.0
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754,AUS,Australia,36.0
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390,AUS,Australia,36.0
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791,AUS,Australia,36.0
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20.000,AUS,Australia,36.0
...,...,...,...,...,...,...,...,...,...,...
1205,EU27,WAGEGAP,EMPLOYEE,PC,A,2016,115.776,NaN,NaN,NaN
1206,EU27,WAGEGAP,EMPLOYEE,PC,A,2017,113.314,NaN,NaN,NaN
1207,EU27,WAGEGAP,EMPLOYEE,PC,A,2018,111.385,NaN,NaN,NaN
1208,EU27,WAGEGAP,EMPLOYEE,PC,A,2019,111.223,NaN,NaN,NaN
1209,EU27,WAGEGAP,EMPLOYEE,PC,A,2020,107.951,NaN,NaN,NaN

In [82]:
output = {} # {year:{country: {id:, name:, value:,}}}
for _, row in df_employee.iterrows():
    year = row['time']
    country = row['location']
    id = row['Numeric']
    value = row['value']
    name = country if country in ['OECD', 'EU27'] else row['Country']
    if year not in output:
        output[year] = {}
    output[year][country] = {}
    output[year][country]['id'] = int(id) if not pd.isna(id) else None
    output[year][country]['name'] = name
    output[year][country]['value'] = value

In [84]:
import json
with open("employee_wage_gap.json", "w") as outfile:
    json.dump(output, outfile)
json.dumps(output)

'{"1975": {"AUS": {"id": 36, "name": "Australia", "value": 21.582}, "JPN": {"id": 392, "name": "Japan", "value": 42.389}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 39.855}, "USA": {"id": 840, "name": "United States of America (the)", "value": 3.763}}, "1976": {"AUS": {"id": 36, "name": "Australia", "value": 20.754}, "JPN": {"id": 392, "name": "Japan", "value": 39.741}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 36.55}, "USA": {"id": 840, "name": "United States of America (the)", "value": 37.755}}, "1977": {"AUS": {"id": 36, "name": "Australia", "value": 18.39}, "FIN": {"id": 246, "name": "Finland", "value": 2.769}, "JPN": {"id": 392, "name": "Japan", "value": 40.326}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 3.578}, "USA": {"id": 840, "name": "United States of America (the)", "value": 38.224}}, "1978": {"AUS": {"id": 36, "name": "Australia", "value": 19.791}, "FIN": {"id": 246, "name": "Finland", "value": 27.088}, "JPN": {"id": 392, "name": "Japan", "value": 40.565}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 37.474}, "USA": {"id": 840, "name": "United States of America (the)", "value": 38.972}}, "1979": {"AUS": {"id": 36, "name": "Australia", "value": 20.0}, "FIN": {"id": 246, "name": "Finland", "value": 27.168}, "JPN": {"id": 392, "name": "Japan", "value": 41.313}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 38.295}, "USA": {"id": 840, "name": "United States of America (the)", "value": 37.641}}, "1980": {"AUS": {"id": 36, "name": "Australia", "value": 18.75}, "FIN": {"id": 246, "name": "Finland", "value": 26.623}, "JPN": {"id": 392, "name": "Japan", "value": 4.168}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 36.688}, "USA": {"id": 840, "name": "United States of America (the)", "value": 36.552}}, "1981": {"AUS": {"id": 36, "name": "Australia", "value": 18.253}, "JPN": {"id": 392, "name": "Japan", "value": 41.956}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.426}, "USA": {"id": 840, "name": "United States of America (the)", "value": 35.174}}, "1982": {"AUS": {"id": 36, "name": "Australia", "value": 20.819}, "FIN": {"id": 246, "name": "Finland", "value": 25.961}, "JPN": {"id": 392, "name": "Japan", "value": 4.215}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.659}, "USA": {"id": 840, "name": "United States of America (the)", "value": 34.724}}, "1983": {"AUS": {"id": 36, "name": "Australia", "value": 19.155}, "FIN": {"id": 246, "name": "Finland", "value": 25.631}, "JPN": {"id": 392, "name": "Japan", "value": 41.903}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.567}, "USA": {"id": 840, "name": "United States of America (the)", "value": 34.286}}, "1984": {"AUS": {"id": 36, "name": "Australia", "value": 18.674}, "FIN": {"id": 246, "name": "Finland", "value": 23.427}, "JPN": {"id": 392, "name": "Japan", "value": 419.34}, "NZL": {"id": 554, "name": "New Zealand", "value": 21.474}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.081}, "USA": {"id": 840, "name": "United States of America (the)", "value": 33.432}}, "1985": {"AUS": {"id": 36, "name": "Australia", "value": 19.607}, "JPN": {"id": 392, "name": "Japan", "value": 41.659}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 52.776}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.12}, "USA": {"id": 840, "name": "United States of America (the)", "value": 32.978}}, "1986": {"AUS": {"id": 36, "name": "Australia", "value": 18.848}, "FIN": {"id": 246, "name": "Finland", "value": 22.531}, "JPN": {"id": 392, "name": "Japan", "value": 41.605}, "NZL": {"id": 554, "name": "New Zealand", "value": 23.014}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.938}, "USA": {"id": 840, "name": "United States of America (the)", "value": 32.19}}, "1987": {"AUS": {"id": 36, "name": "Australia", "value": 18.518}, "FIN": {"id": 246, "name": "Finland", "value": 23.612}, "JPN": {"id": 392, "name": "Japan", "value": 41.226}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.512}, "USA": {"id": 840, "name": "United States of America (the)", "value": 31.022}}, "1988": {"AUS": {"id": 36, "name": "Australia", "value": 1.879}, "FIN": {"id": 246, "name": "Finland", "value": 23.045}, "JPN": {"id": 392, "name": "Japan", "value": 41.018}, "NZL": {"id": 554, "name": "New Zealand", "value": 20.289}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.045}, "USA": {"id": 840, "name": "United States of America (the)", "value": 30.069}}, "1989": {"AUS": {"id": 36, "name": "Australia", "value": 1.858}, "FIN": {"id": 246, "name": "Finland", "value": 23.559}, "HUN": {"id": 348, "name": "Hungary", "value": 25.979}, "JPN": {"id": 392, "name": "Japan", "value": 40.963}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 33.73}, "USA": {"id": 840, "name": "United States of America (the)", "value": 2.936}}, "1990": {"AUS": {"id": 36, "name": "Australia", "value": 18.181}, "FIN": {"id": 246, "name": "Finland", "value": 22.862}, "JPN": {"id": 392, "name": "Japan", "value": 4.059}, "NZL": {"id": 554, "name": "New Zealand", "value": 17.111}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 32.744}, "USA": {"id": 840, "name": "United States of America (the)", "value": 28.455}}, "1991": {"AUS": {"id": 36, "name": "Australia", "value": 16.015}, "FIN": {"id": 246, "name": "Finland", "value": 21.467}, "JPN": {"id": 392, "name": "Japan", "value": 39.898}, "POL": {"id": 616, "name": "Poland", "value": 20.148}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 31.075}, "USA": {"id": 840, "name": "United States of America (the)", "value": 26.571}}, "1992": {"AUS": {"id": 36, "name": "Australia", "value": 14.258}, "FIN": {"id": 246, "name": "Finland", "value": 20.284}, "DEU": {"id": 276, "name": "Germany", "value": 26.935}, "HUN": {"id": 348, "name": "Hungary", "value": 17.391}, "JPN": {"id": 392, "name": "Japan", "value": 38.884}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 46.965}, "NZL": {"id": 554, "name": "New Zealand", "value": 1.557}, "POL": {"id": 616, "name": "Poland", "value": 17.247}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 299.466}, "USA": {"id": 840, "name": "United States of America (the)", "value": 25.057}}, "1993": {"AUS": {"id": 36, "name": "Australia", "value": 13.224}, "FIN": {"id": 246, "name": "Finland", "value": 21.984}, "DEU": {"id": 276, "name": "Germany", "value": 23.017}, "HUN": {"id": 348, "name": "Hungary", "value": 79.486}, "JPN": {"id": 392, "name": "Japan", "value": 38.45}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 47.26}, "POL": {"id": 616, "name": "Poland", "value": 20.028}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 28.719}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.876}}, "1994": {"AUS": {"id": 36, "name": "Australia", "value": 14.409}, "FIN": {"id": 246, "name": "Finland", "value": 23.149}, "DEU": {"id": 276, "name": "Germany", "value": 2.049}, "HUN": {"id": 348, "name": "Hungary", "value": 15.181}, "JPN": {"id": 392, "name": "Japan", "value": 37.815}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 45.506}, "NZL": {"id": 554, "name": "New Zealand", "value": 13.302}, "POL": {"id": 616, "name": "Poland", "value": 18.853}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 28.079}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.884}}, "1995": {"AUS": {"id": 36, "name": "Australia", "value": 14.478}, "FIN": {"id": 246, "name": "Finland", "value": 2.24}, "DEU": {"id": 276, "name": "Germany", "value": 19.411}, "HUN": {"id": 348, "name": "Hungary", "value": 15.754}, "JPN": {"id": 392, "name": "Japan", "value": 37.09}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 44.182}, "NZL": {"id": 554, "name": "New Zealand", "value": 1.368}, "POL": {"id": 616, "name": "Poland", "value": 20.104}, "SWE": {"id": 752, "name": "Sweden", "value": 96.774}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 28.192}, "USA": {"id": 840, "name": "United States of America (the)", "value": 24.579}, "OECD": {"id": null, "name": "OECD", "value": 189.449}}, "1997": {"AUS": {"id": 36, "name": "Australia", "value": 15.254}, "CAN": {"id": 124, "name": "Canada", "value": 24.705}, "CZE": {"id": 203, "name": "Czechia", "value": 18.429}, "FIN": {"id": 246, "name": "Finland", "value": 21.332}, "DEU": {"id": 276, "name": "Germany", "value": 21.409}, "JPN": {"id": 392, "name": "Japan", "value": 36.521}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 42.215}, "NZL": {"id": 554, "name": "New Zealand", "value": 12.709}, "NOR": {"id": 578, "name": "Norway", "value": 93.189}, "POL": {"id": 616, "name": "Poland", "value": 18.568}, "SWE": {"id": 752, "name": "Sweden", "value": 11.56}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 26.919}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.786}, "OECD": {"id": null, "name": "OECD", "value": 188.558}}, "1998": {"AUS": {"id": 36, "name": "Australia", "value": 13.242}, "CAN": {"id": 124, "name": "Canada", "value": 24.855}, "FIN": {"id": 246, "name": "Finland", "value": 20.8}, "DEU": {"id": 276, "name": "Germany", "value": 20.896}, "HUN": {"id": 348, "name": "Hungary", "value": 15.671}, "JPN": {"id": 392, "name": "Japan", "value": 35.307}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 42.021}, "NZL": {"id": 554, "name": "New Zealand", "value": 11.4}, "NOR": {"id": 578, "name": "Norway", "value": 88.878}, "POL": {"id": 616, "name": "Poland", "value": 19.107}, "SWE": {"id": 752, "name": "Sweden", "value": 12.777}, "CHE": {"id": 756, "name": "Switzerland", "value": 24.122}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 27.035}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.745}, "CHL": {"id": 152, "name": "Chile", "value": 14.285}, "OECD": {"id": null, "name": "OECD", "value": 186.979}}, "1999": {"AUS": {"id": 36, "name": "Australia", "value": 14.285}, "BEL": {"id": 56, "name": "Belgium", "value": 15.182}, "CAN": {"id": 124, "name": "Canada", "value": 24.0}, "CZE": {"id": 203, "name": "Czechia", "value": 19.03}, "FIN": {"id": 246, "name": "Finland", "value": 21.716}, "DEU": {"id": 276, "name": "Germany", "value": 20.169}, "HUN": {"id": 348, "name": "Hungary", "value": 1.53}, "JPN": {"id": 392, "name": "Japan", "value": 34.55}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 4.18}, "NZL": {"id": 554, "name": "New Zealand", "value": 83.333}, "NOR": {"id": 578, "name": "Norway", "value": 92.159}, "POL": {"id": 616, "name": "Poland", "value": 17.559}, "SWE": {"id": 752, "name": "Sweden", "value": 11.827}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 26.089}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.462}, "OECD": {"id": null, "name": "OECD", "value": 183.57}}, "2000": {"AUS": {"id": 36, "name": "Australia", "value": 17.2}, "AUT": {"id": 40, "name": "Austria", "value": 23.141}, "BEL": {"id": 56, "name": "Belgium", "value": 13.599}, "CAN": {"id": 124, "name": "Canada", "value": 23.875}, "FIN": {"id": 246, "name": "Finland", "value": 20.427}, "DEU": {"id": 276, "name": "Germany", "value": 19.579}, "HUN": {"id": 348, "name": "Hungary", "value": 14.098}, "JPN": {"id": 392, "name": "Japan", "value": 3.385}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 41.654}, "NZL": {"id": 554, "name": "New Zealand", "value": 71.665}, "NOR": {"id": 578, "name": "Norway", "value": 9.225}, "SWE": {"id": 752, "name": "Sweden", "value": 12.371}, "CHE": {"id": 756, "name": "Switzerland", "value": 23.787}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 26.28}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.088}, "CHL": {"id": 152, "name": "Chile", "value": 60.729}, "OECD": {"id": null, "name": "OECD", "value": 180.863}}, "2001": {"AUS": {"id": 36, "name": "Australia", "value": 14.342}, "AUT": {"id": 40, "name": "Austria", "value": 22.801}, "BEL": {"id": 56, "name": "Belgium", "value": 13.186}, "CAN": {"id": 124, "name": "Canada", "value": 24.324}, "CZE": {"id": 203, "name": "Czechia", "value": 16.876}, "FIN": {"id": 246, "name": "Finland", "value": 21.239}, "DEU": {"id": 276, "name": "Germany", "value": 19.105}, "HUN": {"id": 348, "name": "Hungary", "value": 13.689}, "JPN": {"id": 392, "name": "Japan", "value": 33.864}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 40.416}, "NZL": {"id": 554, "name": "New Zealand", "value": 80.562}, "NOR": {"id": 578, "name": "Norway", "value": 97.875}, "POL": {"id": 616, "name": "Poland", "value": 14.299}, "SWE": {"id": 752, "name": "Sweden", "value": 12.376}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 25.639}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.582}, "ISR": {"id": 376, "name": "Israel", "value": 27.974}, "OECD": {"id": null, "name": "OECD", "value": 17.854}}, "2002": {"AUS": {"id": 36, "name": "Australia", "value": 15.0}, "AUT": {"id": 40, "name": "Austria", "value": 2.448}, "BEL": {"id": 56, "name": "Belgium", "value": 11.604}, "CAN": {"id": 124, "name": "Canada", "value": 24.013}, "CZE": {"id": 203, "name": "Czechia", "value": 1.595}, "DNK": {"id": 208, "name": "Denmark", "value": 10.797}, "FIN": {"id": 246, "name": "Finland", "value": 20.373}, "FRA": {"id": 250, "name": "France", "value": 1.33}, "DEU": {"id": 276, "name": "Germany", "value": 19.076}, "GRC": {"id": 300, "name": "Greece", "value": 23.565}, "HUN": {"id": 348, "name": "Hungary", "value": 91.297}, "ISL": {"id": 352, "name": "Iceland", "value": 28.722}, "IRL": {"id": 372, "name": "Ireland", "value": 17.769}, "ITA": {"id": 380, "name": "Italy", "value": 15.725}, "JPN": {"id": 392, "name": "Japan", "value": 32.529}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 41.028}, "LUX": {"id": 442, "name": "Luxembourg", "value": 15.088}, "NLD": {"id": 528, "name": "Netherlands (the)", "value": 15.64}, "NZL": {"id": 554, "name": "New Zealand", "value": 73.125}, "NOR": {"id": 578, "name": "Norway", "value": 9.69}, "POL": {"id": 616, "name": "Poland", "value": 11.315}, "PRT": {"id": 620, "name": "Portugal", "value": 21.857}, "SVK": {"id": 703, "name": "Slovakia", "value": 20.355}, "ESP": {"id": 724, "name": "Spain", "value": 17.161}, "SWE": {"id": 752, "name": "Sweden", "value": 11.904}, "CHE": {"id": 756, "name": "Switzerland", "value": 22.801}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 24.379}, "USA": {"id": 840, "name": "United States of America (the)", "value": 22.091}, "BGR": {"id": 100, "name": "Bulgaria", "value": 12.012}, "CYP": {"id": 196, "name": "Cyprus", "value": 31.399}, "ISR": {"id": 376, "name": "Israel", "value": 24.207}, "LVA": {"id": 428, "name": "Latvia", "value": 18.919}, "LTU": {"id": 440, "name": "Lithuania", "value": 15.083}, "MLT": {"id": 470, "name": "Malta", "value": 13.555}, "ROU": {"id": 642, "name": "Romania", "value": 16.16}, "SVN": {"id": 705, "name": "Slovenia", "value": 93.588}, "OECD": {"id": null, "name": "OECD", "value": 175.057}, "EU27": {"id": null, "name": "EU27", "value": 16.117}}, "2003": {"AUS": {"id": 36, "name": "Australia", "value": 13.043}, "AUT": {"id": 40, "name": "Austria", "value": 21.136}, "BEL": {"id": 56, "name": "Belgium", "value": 15.205}, "CAN": {"id": 124, "name": "Canada", "value": 22.502}, "CZE": {"id": 203, "name": "Czechia", "value": 15.637}, "DNK": {"id": 208, "name": "Denmark", "value": 99.218}, "FIN": {"id": 246, "name": "Finland", "value": 20.099}, "DEU": {"id": 276, "name": "Germany", "value": 19.554}, "HUN": {"id": 348, "name": "Hungary", "value": 14.76}, "JPN": {"id": 392, "name": "Japan", "value": 31.997}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 40.083}, "NZL": {"id": 554, "name": "New Zealand", "value": 76.923}, "NOR": {"id": 578, "name": "Norway", "value": 93.297}, "SVK": {"id": 703, "name": "Slovakia", "value": 20.689}, "SWE": {"id": 752, "name": "Sweden", "value": 11.52}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 24.124}, "USA": {"id": 840, "name": "United States of America (the)", "value": 20.575}, "CHL": {"id": 152, "name": "Chile", "value": 16.831}, "ISR": {"id": 376, "name": "Israel", "value": 25.325}, "OECD": {"id": null, "name": "OECD", "value": 168.183}, "EU27": {"id": null, "name": "EU27", "value": 154.352}}, "2004": {"AUS": {"id": 36, "name": "Australia", "value": 14.352}, "AUT": {"id": 40, "name": "Austria", "value": 22.43}, "BEL": {"id": 56, "name": "Belgium", "value": 11.832}, "CAN": {"id": 124, "name": "Canada", "value": 22.717}, "CZE": {"id": 203, "name": "Czechia", "value": 1.614}, "DNK": {"id": 208, "name": "Denmark", "value": 10.182}, "FIN": {"id": 246, "name": "Finland", "value": 20.015}, "DEU": {"id": 276, "name": "Germany", "value": 21.85}, "HUN": {"id": 348, "name": "Hungary", "value": 30.343}, "JPN": {"id": 392, "name": "Japan", "value": 31.087}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 39.623}, "NZL": {"id": 554, "name": "New Zealand", "value": 80.766}, "NOR": {"id": 578, "name": "Norway", "value": 84.496}, "POL": {"id": 616, "name": "Poland", "value": 10.638}, "SVK": {"id": 703, "name": "Slovakia", "value": 2.088}, "SWE": {"id": 752, "name": "Sweden", "value": 10.762}, "CHE": {"id": 756, "name": "Switzerland", "value": 22.012}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 23.358}, "USA": {"id": 840, "name": "United States of America (the)", "value": 19.635}, "ISR": {"id": 376, "name": "Israel", "value": 25.013}, "OECD": {"id": null, "name": "OECD", "value": 164.423}, "EU27": {"id": null, "name": "EU27", "value": 149.71}}, "2005": {"AUS": {"id": 36, "name": "Australia", "value": 15.777}, "AUT": {"id": 40, "name": "Austria", "value": 22.032}, "BEL": {"id": 56, "name": "Belgium", "value": 11.511}, "CAN": {"id": 124, "name": "Canada", "value": 21.25}, "CZE": {"id": 203, "name": "Czechia", "value": 1.593}, "DNK": {"id": 208, "name": "Denmark", "value": 10.167}, "FIN": {"id": 246, "name": "Finland", "value": 18.941}, "DEU": {"id": 276, "name": "Germany", "value": 16.347}, "HUN": {"id": 348, "name": "Hungary", "value": 40.215}, "JPN": {"id": 392, "name": "Japan", "value": 32.825}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 39.616}, "MEX": {"id": 484, "name": "Mexico", "value": 16.666}, "NZL": {"id": 554, "name": "New Zealand", "value": 96.111}, "NOR": {"id": 578, "name": "Norway", "value": 86.243}, "SVK": {"id": 703, "name": "Slovakia", "value": 20.099}, "SWE": {"id": 752, "name": "Sweden", "value": 11.304}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 220.639}, "USA": {"id": 840, "name": "United States of America (the)", "value": 18.975}, "ISR": {"id": 3

In [86]:
df_employee.describe()

              time       value     Numeric
count   766.000000  766.000000  721.000000
mean   2005.124021   38.265646  422.061026
std      11.176961   41.167896  260.182327
min    1970.000000    0.384387   36.000000
25%    1999.000000   15.802500  208.000000
50%    2007.000000   21.852500  392.000000
75%    2014.000000   42.004750  620.000000
max    2020.000000  419.340000  840.000000

In [80]:
df_employee_out.to_json("employee_json.json")
df_selfemployed_out.to_json("selfemployed_json.json")

In [84]:
df_employee_out.to_csv("employee_data.csv")
df_selfemployed_out.to_csv("selfemployed_data.csv")

In [86]:
df_employee_out_2 = pd.pivot_table(df_employee, values='value', index=['location'], columns=['time'])
df_employee_out_2

time,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
location,,,,,,,,,,,,,,,,,,,,,
AUS,NaN,NaN,NaN,NaN,NaN,21.582,20.754,18.390,19.791,20.000,...,15.966,13.750000,18.000,17.050,15.384,13.728,14.507,16.142,14.965,12.266
AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.550,18.185000,18.053,17.728,1.704,15.670,1.538,14.876,14.011,13.325
BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.381,64.111000,59.128,32.989,4.672,37.012,41.902,34.087,3.798,NaN
BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.625,NaN,NaN,NaN,30.303,33.577,25.546
CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.175,19.511000,1.930,19.229,1.862,18.221,1.817,18.518,17.607,16.112
CHE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.343000,NaN,16.940,NaN,14.762,NaN,15.095,17.163,13.783
CHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.000,NaN,10.666,NaN,14.285,NaN,12.500,NaN,NaN,85.964
COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.348,81.979000,71.428,9.600,11.141,70.917,76.923,57.879,4.000,NaN
CRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.306,0.552486,NaN,51.497,37.037,17.857,2.967,47.252,NaN,NaN
CYP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13.409,NaN,NaN,NaN,15.871,NaN,NaN
CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.329,15.262000,15.378,16.254,16.455,16.023,15.614,15.127,14.714,12.372
DEU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.944,15.646000,14.093,171.875,15.816,15.510,1.619,15.250,13.894,NaN
DNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.471,69.998000,67.689,63.238,58.360,57.326,52.966,48.632,50.592,NaN
ESP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.540,NaN,NaN,NaN,86.216,NaN,NaN
EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.888,NaN,NaN,NaN,17.318,NaN,NaN
EU27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.719,122.925000,120.315,118.201,120.302,115.776,113.314,111.385,111.223,107.951
FIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.769,27.088,27.168,...,18.607,18.726000,20.178,19.609,18.055,1.647,17.717,18.855,17.159,NaN
FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,98.721,NaN,NaN,NaN,11.823,NaN,NaN
GBR,47.578,45.527,45.677,46.378,44.422,39.855,36.550,3.578,37.474,38.295,...,18.246,17.783000,17.482,17.382,17.101,16.796,16.534,16.310,16.099,12.277
GRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71.715,NaN,NaN,NaN,59.090,59.090,89.137
HRV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.150,75.748,12.452
HUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.639,11.332000,87.236,37.726,95.238,93.643,53.202,50.632,12.753,99.269
IRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.606,NaN,NaN,NaN,82.840,51.720,NaN
ISL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.384,NaN,NaN,NaN,12.901,NaN,NaN
ISR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.659,20.000000,20.345,20.108,20.439,21.593,21.791,22.659,NaN,NaN
ITA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,65.847,NaN,NaN,NaN,57.080,76.401,NaN
JPN,NaN,NaN,NaN,NaN,NaN,42.389,39.741,40.326,40.565,41.313,...,27.395,26.523000,26.587,25.870,25.731,24.601,24.518,23.537,23.480,22.518
KOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,365.642,36.298000,36.599,36.653,37.176,36.666,34.617,34.107,32.480,3.148
LTU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.479,NaN,NaN,NaN,11.689,NaN,NaN
LUX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,34.029,NaN,NaN,NaN,NaN,NaN,NaN
LVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.122,NaN,NaN,NaN,20.289,NaN,NaN
MEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.000,13.555000,15.433,18.300,16.666,16.492,11.111,14.000,18.750,96.124
MLT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,89.894,NaN,NaN,NaN,1.109,NaN,NaN
NLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.304,NaN,NaN,NaN,12.657,NaN,NaN
NOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.448,57.921000,65.970,58.006,69.577,63.063,54.947,51.293,43.678,48.138
NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.333,59.079000,65.943,60.833,7.920,77.692,71.508,78.696,65.084,45.814
OECD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.596,134.084000,133.039,133.876,136.113,130.297,127.119,127.372,125.389,116.200
POL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.620000,NaN,1.107,NaN,94.178,NaN,11.497,NaN,86.906
PRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.321,NaN,NaN,NaN,11.665,11.419,11.716
ROU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.463,NaN,NaN,NaN,34.965,NaN,NaN
SVK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.449,15.965000,14.109,14.350,13.376,13.899,15.040,15.662,13.869,11.014
SVN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.962,NaN,NaN,NaN,81.945,NaN,NaN
SWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.575,92.857000,9.375,91.525,83.333,81.699,73.482,71.428,75.757,74.183
TUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68.825,NaN,NaN,NaN,9.980,NaN,NaN
USA,NaN,NaN,NaN,38.110,39.100,3.763,37.755,38.224,38.972,37.641,...,17.788,19.086000,17.906,17.451,18.882,18.142,18.172,18.910,18.470,17.652

In [97]:
df_employee_out_2.to_json("employee_time.json")

In [98]:
df_employee_out_2.to_csv("employee_time.csv")