# Gender Wage Gap Data Processing

In [1]:
import pandas as pd
import numpy as np

## 1 Map Country Codes

In [2]:
# numeric is country id, which will be used in the map to identify countries
df_country = pd.read_excel("country_codes.xlsx")
df_country.head()

          Country Alpha-2 code Alpha-3 code  Numeric
0   Åland Islands           AX          ALA      248
1        Zimbabwe           ZW          ZWE      716
2          Zambia           ZM          ZMB      894
3           Yemen           YE          YEM      887
4  Western Sahara           EH          ESH      732

In [3]:
df_gap = pd.read_csv("gap.csv", delimiter=";")
df_gap.head()

  location indicator   subject measure frequency  time           value
0      AUS   WAGEGAP  EMPLOYEE      PC         A  1975  21.582.733.813
1      AUS   WAGEGAP  EMPLOYEE      PC         A  1976  20.754.716.981
2      AUS   WAGEGAP  EMPLOYEE      PC         A  1977  18.390.804.598
3      AUS   WAGEGAP  EMPLOYEE      PC         A  1978  19.791.666.667
4      AUS   WAGEGAP  EMPLOYEE      PC         A  1979              20

In [4]:
df = df_gap.merge(df_country[["Alpha-3 code", "Country", "Numeric"]], left_on='location', right_on='Alpha-3 code', how='left')
df.head()

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582.733.813,AUS,Australia,36.0
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754.716.981,AUS,Australia,36.0
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390.804.598,AUS,Australia,36.0
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791.666.667,AUS,Australia,36.0
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20,AUS,Australia,36.0

In [5]:
# 'OECD', 'EU27' can't match any country code
df[df["Alpha-3 code"].isna()]["location"].unique()

array(['OECD', 'EU27'], dtype=object)

In [6]:
EU27_str = "Austria, Belgium, Bulgaria, Croatia, Cyprus, the Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, the Netherlands, Poland, Portugal, Romania, Slovak Republic, Slovenia, Spain, Sweden"
EU27_countries = EU27_str.split(", ")
assert(len(EU27_countries) == 27)
all_countries = df["Country"].unique()
print("Among EU27 countries, the following countries don't have its own data:")
for country in EU27_countries:
    if (country not in all_countries):
        print(country)

Among EU27 countries, the following countries don't have its own data:
the Czech Republic
the Netherlands
Slovak Republic

We won't draw EU27 and OECD countries in the map, but we'll draw it in the bar chart!

## 2 Data Processing

### 2.1 Year - Country

In [7]:
# edit wierd value columns
df["split_value"] = df["value"].str.split(".")
df["joined_value"] = df["split_value"].apply(lambda x: ".".join(x[:2]))
df["value"] = df["joined_value"].astype(float)
df = df.drop(["split_value", "joined_value"], axis=1)
df

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582,AUS,Australia,36.0
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754,AUS,Australia,36.0
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390,AUS,Australia,36.0
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791,AUS,Australia,36.0
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20.000,AUS,Australia,36.0
...,...,...,...,...,...,...,...,...,...,...
1205,EU27,WAGEGAP,EMPLOYEE,PC,A,2016,115.776,NaN,NaN,NaN
1206,EU27,WAGEGAP,EMPLOYEE,PC,A,2017,113.314,NaN,NaN,NaN
1207,EU27,WAGEGAP,EMPLOYEE,PC,A,2018,111.385,NaN,NaN,NaN
1208,EU27,WAGEGAP,EMPLOYEE,PC,A,2019,111.223,NaN,NaN,NaN
1209,EU27,WAGEGAP,EMPLOYEE,PC,A,2020,107.951,NaN,NaN,NaN

In [8]:
df["subject"].value_counts()

subject
EMPLOYEE        766
SELFEMPLOYED    444
Name: count, dtype: int64

In [9]:
df_employee = df[df["subject"] == "EMPLOYEE"]
df_employee
# drop OECD and EU27
# df_employee_id = df_employee.dropna(subset=['Numeric'])
# df_employee_id["Numeric"] = df_employee_id["Numeric"].astype('int')
# df_employee_id
# df_employee_id_out = pd.pivot_table(df_employee_id, values='value', index=['time'], columns=['Numeric'])

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582,AUS,Australia,36.0
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754,AUS,Australia,36.0
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390,AUS,Australia,36.0
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791,AUS,Australia,36.0
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20.000,AUS,Australia,36.0
...,...,...,...,...,...,...,...,...,...,...
1205,EU27,WAGEGAP,EMPLOYEE,PC,A,2016,115.776,NaN,NaN,NaN
1206,EU27,WAGEGAP,EMPLOYEE,PC,A,2017,113.314,NaN,NaN,NaN
1207,EU27,WAGEGAP,EMPLOYEE,PC,A,2018,111.385,NaN,NaN,NaN
1208,EU27,WAGEGAP,EMPLOYEE,PC,A,2019,111.223,NaN,NaN,NaN
1209,EU27,WAGEGAP,EMPLOYEE,PC,A,2020,107.951,NaN,NaN,NaN

In [10]:
output = {} # {year:{country: {id:, name:, value:,}}}
for _, row in df_employee.iterrows():
    year = row['time']
    country = row['location']
    id = row['Numeric']
    value = row['value']
    name = country if country in ['OECD', 'EU27'] else row['Country']
    if year not in output:
        output[year] = {}
    output[year][country] = {}
    output[year][country]['id'] = int(id) if not pd.isna(id) else None
    output[year][country]['name'] = name
    output[year][country]['value'] = value

In [11]:
import json
with open("employee_wage_gap.json", "w") as outfile:
    json.dump(output, outfile)
json.dumps(output)

'{"1975": {"AUS": {"id": 36, "name": "Australia", "value": 21.582}, "JPN": {"id": 392, "name": "Japan", "value": 42.389}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 39.855}, "USA": {"id": 840, "name": "United States of America (the)", "value": 3.763}}, "1976": {"AUS": {"id": 36, "name": "Australia", "value": 20.754}, "JPN": {"id": 392, "name": "Japan", "value": 39.741}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 36.55}, "USA": {"id": 840, "name": "United States of America (the)", "value": 37.755}}, "1977": {"AUS": {"id": 36, "name": "Australia", "value": 18.39}, "FIN": {"id": 246, "name": "Finland", "value": 2.769}, "JPN": {"id": 392, "name": "Japan", "value": 40.326}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 3.578}, "USA": {"id": 840, "name": "United States of America (the)", "value": 38.224}}, "1978": {"AUS": {"id": 36, "name": "Australia", "value": 19.791}, "FIN": {"id": 246, "name": "Finland", "value": 27.088}, "JPN": {"id": 392, "name": "Japan", "value": 40.565}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 37.474}, "USA": {"id": 840, "name": "United States of America (the)", "value": 38.972}}, "1979": {"AUS": {"id": 36, "name": "Australia", "value": 20.0}, "FIN": {"id": 246, "name": "Finland", "value": 27.168}, "JPN": {"id": 392, "name": "Japan", "value": 41.313}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 38.295}, "USA": {"id": 840, "name": "United States of America (the)", "value": 37.641}}, "1980": {"AUS": {"id": 36, "name": "Australia", "value": 18.75}, "FIN": {"id": 246, "name": "Finland", "value": 26.623}, "JPN": {"id": 392, "name": "Japan", "value": 4.168}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 36.688}, "USA": {"id": 840, "name": "United States of America (the)", "value": 36.552}}, "1981": {"AUS": {"id": 36, "name": "Australia", "value": 18.253}, "JPN": {"id": 392, "name": "Japan", "value": 41.956}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.426}, "USA": {"id": 840, "name": "United States of America (the)", "value": 35.174}}, "1982": {"AUS": {"id": 36, "name": "Australia", "value": 20.819}, "FIN": {"id": 246, "name": "Finland", "value": 25.961}, "JPN": {"id": 392, "name": "Japan", "value": 4.215}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.659}, "USA": {"id": 840, "name": "United States of America (the)", "value": 34.724}}, "1983": {"AUS": {"id": 36, "name": "Australia", "value": 19.155}, "FIN": {"id": 246, "name": "Finland", "value": 25.631}, "JPN": {"id": 392, "name": "Japan", "value": 41.903}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.567}, "USA": {"id": 840, "name": "United States of America (the)", "value": 34.286}}, "1984": {"AUS": {"id": 36, "name": "Australia", "value": 18.674}, "FIN": {"id": 246, "name": "Finland", "value": 23.427}, "JPN": {"id": 392, "name": "Japan", "value": 419.34}, "NZL": {"id": 554, "name": "New Zealand", "value": 21.474}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.081}, "USA": {"id": 840, "name": "United States of America (the)", "value": 33.432}}, "1985": {"AUS": {"id": 36, "name": "Australia", "value": 19.607}, "JPN": {"id": 392, "name": "Japan", "value": 41.659}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 52.776}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 35.12}, "USA": {"id": 840, "name": "United States of America (the)", "value": 32.978}}, "1986": {"AUS": {"id": 36, "name": "Australia", "value": 18.848}, "FIN": {"id": 246, "name": "Finland", "value": 22.531}, "JPN": {"id": 392, "name": "Japan", "value": 41.605}, "NZL": {"id": 554, "name": "New Zealand", "value": 23.014}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.938}, "USA": {"id": 840, "name": "United States of America (the)", "value": 32.19}}, "1987": {"AUS": {"id": 36, "name": "Australia", "value": 18.518}, "FIN": {"id": 246, "name": "Finland", "value": 23.612}, "JPN": {"id": 392, "name": "Japan", "value": 41.226}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.512}, "USA": {"id": 840, "name": "United States of America (the)", "value": 31.022}}, "1988": {"AUS": {"id": 36, "name": "Australia", "value": 1.879}, "FIN": {"id": 246, "name": "Finland", "value": 23.045}, "JPN": {"id": 392, "name": "Japan", "value": 41.018}, "NZL": {"id": 554, "name": "New Zealand", "value": 20.289}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 34.045}, "USA": {"id": 840, "name": "United States of America (the)", "value": 30.069}}, "1989": {"AUS": {"id": 36, "name": "Australia", "value": 1.858}, "FIN": {"id": 246, "name": "Finland", "value": 23.559}, "HUN": {"id": 348, "name": "Hungary", "value": 25.979}, "JPN": {"id": 392, "name": "Japan", "value": 40.963}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 33.73}, "USA": {"id": 840, "name": "United States of America (the)", "value": 2.936}}, "1990": {"AUS": {"id": 36, "name": "Australia", "value": 18.181}, "FIN": {"id": 246, "name": "Finland", "value": 22.862}, "JPN": {"id": 392, "name": "Japan", "value": 4.059}, "NZL": {"id": 554, "name": "New Zealand", "value": 17.111}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 32.744}, "USA": {"id": 840, "name": "United States of America (the)", "value": 28.455}}, "1991": {"AUS": {"id": 36, "name": "Australia", "value": 16.015}, "FIN": {"id": 246, "name": "Finland", "value": 21.467}, "JPN": {"id": 392, "name": "Japan", "value": 39.898}, "POL": {"id": 616, "name": "Poland", "value": 20.148}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 31.075}, "USA": {"id": 840, "name": "United States of America (the)", "value": 26.571}}, "1992": {"AUS": {"id": 36, "name": "Australia", "value": 14.258}, "FIN": {"id": 246, "name": "Finland", "value": 20.284}, "DEU": {"id": 276, "name": "Germany", "value": 26.935}, "HUN": {"id": 348, "name": "Hungary", "value": 17.391}, "JPN": {"id": 392, "name": "Japan", "value": 38.884}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 46.965}, "NZL": {"id": 554, "name": "New Zealand", "value": 1.557}, "POL": {"id": 616, "name": "Poland", "value": 17.247}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 299.466}, "USA": {"id": 840, "name": "United States of America (the)", "value": 25.057}}, "1993": {"AUS": {"id": 36, "name": "Australia", "value": 13.224}, "FIN": {"id": 246, "name": "Finland", "value": 21.984}, "DEU": {"id": 276, "name": "Germany", "value": 23.017}, "HUN": {"id": 348, "name": "Hungary", "value": 79.486}, "JPN": {"id": 392, "name": "Japan", "value": 38.45}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 47.26}, "POL": {"id": 616, "name": "Poland", "value": 20.028}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 28.719}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.876}}, "1994": {"AUS": {"id": 36, "name": "Australia", "value": 14.409}, "FIN": {"id": 246, "name": "Finland", "value": 23.149}, "DEU": {"id": 276, "name": "Germany", "value": 2.049}, "HUN": {"id": 348, "name": "Hungary", "value": 15.181}, "JPN": {"id": 392, "name": "Japan", "value": 37.815}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 45.506}, "NZL": {"id": 554, "name": "New Zealand", "value": 13.302}, "POL": {"id": 616, "name": "Poland", "value": 18.853}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 28.079}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.884}}, "1995": {"AUS": {"id": 36, "name": "Australia", "value": 14.478}, "FIN": {"id": 246, "name": "Finland", "value": 2.24}, "DEU": {"id": 276, "name": "Germany", "value": 19.411}, "HUN": {"id": 348, "name": "Hungary", "value": 15.754}, "JPN": {"id": 392, "name": "Japan", "value": 37.09}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 44.182}, "NZL": {"id": 554, "name": "New Zealand", "value": 1.368}, "POL": {"id": 616, "name": "Poland", "value": 20.104}, "SWE": {"id": 752, "name": "Sweden", "value": 96.774}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 28.192}, "USA": {"id": 840, "name": "United States of America (the)", "value": 24.579}, "OECD": {"id": null, "name": "OECD", "value": 189.449}}, "1997": {"AUS": {"id": 36, "name": "Australia", "value": 15.254}, "CAN": {"id": 124, "name": "Canada", "value": 24.705}, "CZE": {"id": 203, "name": "Czechia", "value": 18.429}, "FIN": {"id": 246, "name": "Finland", "value": 21.332}, "DEU": {"id": 276, "name": "Germany", "value": 21.409}, "JPN": {"id": 392, "name": "Japan", "value": 36.521}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 42.215}, "NZL": {"id": 554, "name": "New Zealand", "value": 12.709}, "NOR": {"id": 578, "name": "Norway", "value": 93.189}, "POL": {"id": 616, "name": "Poland", "value": 18.568}, "SWE": {"id": 752, "name": "Sweden", "value": 11.56}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 26.919}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.786}, "OECD": {"id": null, "name": "OECD", "value": 188.558}}, "1998": {"AUS": {"id": 36, "name": "Australia", "value": 13.242}, "CAN": {"id": 124, "name": "Canada", "value": 24.855}, "FIN": {"id": 246, "name": "Finland", "value": 20.8}, "DEU": {"id": 276, "name": "Germany", "value": 20.896}, "HUN": {"id": 348, "name": "Hungary", "value": 15.671}, "JPN": {"id": 392, "name": "Japan", "value": 35.307}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 42.021}, "NZL": {"id": 554, "name": "New Zealand", "value": 11.4}, "NOR": {"id": 578, "name": "Norway", "value": 88.878}, "POL": {"id": 616, "name": "Poland", "value": 19.107}, "SWE": {"id": 752, "name": "Sweden", "value": 12.777}, "CHE": {"id": 756, "name": "Switzerland", "value": 24.122}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 27.035}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.745}, "CHL": {"id": 152, "name": "Chile", "value": 14.285}, "OECD": {"id": null, "name": "OECD", "value": 186.979}}, "1999": {"AUS": {"id": 36, "name": "Australia", "value": 14.285}, "BEL": {"id": 56, "name": "Belgium", "value": 15.182}, "CAN": {"id": 124, "name": "Canada", "value": 24.0}, "CZE": {"id": 203, "name": "Czechia", "value": 19.03}, "FIN": {"id": 246, "name": "Finland", "value": 21.716}, "DEU": {"id": 276, "name": "Germany", "value": 20.169}, "HUN": {"id": 348, "name": "Hungary", "value": 1.53}, "JPN": {"id": 392, "name": "Japan", "value": 34.55}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 4.18}, "NZL": {"id": 554, "name": "New Zealand", "value": 83.333}, "NOR": {"id": 578, "name": "Norway", "value": 92.159}, "POL": {"id": 616, "name": "Poland", "value": 17.559}, "SWE": {"id": 752, "name": "Sweden", "value": 11.827}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 26.089}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.462}, "OECD": {"id": null, "name": "OECD", "value": 183.57}}, "2000": {"AUS": {"id": 36, "name": "Australia", "value": 17.2}, "AUT": {"id": 40, "name": "Austria", "value": 23.141}, "BEL": {"id": 56, "name": "Belgium", "value": 13.599}, "CAN": {"id": 124, "name": "Canada", "value": 23.875}, "FIN": {"id": 246, "name": "Finland", "value": 20.427}, "DEU": {"id": 276, "name": "Germany", "value": 19.579}, "HUN": {"id": 348, "name": "Hungary", "value": 14.098}, "JPN": {"id": 392, "name": "Japan", "value": 3.385}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 41.654}, "NZL": {"id": 554, "name": "New Zealand", "value": 71.665}, "NOR": {"id": 578, "name": "Norway", "value": 9.225}, "SWE": {"id": 752, "name": "Sweden", "value": 12.371}, "CHE": {"id": 756, "name": "Switzerland", "value": 23.787}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 26.28}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.088}, "CHL": {"id": 152, "name": "Chile", "value": 60.729}, "OECD": {"id": null, "name": "OECD", "value": 180.863}}, "2001": {"AUS": {"id": 36, "name": "Australia", "value": 14.342}, "AUT": {"id": 40, "name": "Austria", "value": 22.801}, "BEL": {"id": 56, "name": "Belgium", "value": 13.186}, "CAN": {"id": 124, "name": "Canada", "value": 24.324}, "CZE": {"id": 203, "name": "Czechia", "value": 16.876}, "FIN": {"id": 246, "name": "Finland", "value": 21.239}, "DEU": {"id": 276, "name": "Germany", "value": 19.105}, "HUN": {"id": 348, "name": "Hungary", "value": 13.689}, "JPN": {"id": 392, "name": "Japan", "value": 33.864}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 40.416}, "NZL": {"id": 554, "name": "New Zealand", "value": 80.562}, "NOR": {"id": 578, "name": "Norway", "value": 97.875}, "POL": {"id": 616, "name": "Poland", "value": 14.299}, "SWE": {"id": 752, "name": "Sweden", "value": 12.376}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 25.639}, "USA": {"id": 840, "name": "United States of America (the)", "value": 23.582}, "ISR": {"id": 376, "name": "Israel", "value": 27.974}, "OECD": {"id": null, "name": "OECD", "value": 17.854}}, "2002": {"AUS": {"id": 36, "name": "Australia", "value": 15.0}, "AUT": {"id": 40, "name": "Austria", "value": 2.448}, "BEL": {"id": 56, "name": "Belgium", "value": 11.604}, "CAN": {"id": 124, "name": "Canada", "value": 24.013}, "CZE": {"id": 203, "name": "Czechia", "value": 1.595}, "DNK": {"id": 208, "name": "Denmark", "value": 10.797}, "FIN": {"id": 246, "name": "Finland", "value": 20.373}, "FRA": {"id": 250, "name": "France", "value": 1.33}, "DEU": {"id": 276, "name": "Germany", "value": 19.076}, "GRC": {"id": 300, "name": "Greece", "value": 23.565}, "HUN": {"id": 348, "name": "Hungary", "value": 91.297}, "ISL": {"id": 352, "name": "Iceland", "value": 28.722}, "IRL": {"id": 372, "name": "Ireland", "value": 17.769}, "ITA": {"id": 380, "name": "Italy", "value": 15.725}, "JPN": {"id": 392, "name": "Japan", "value": 32.529}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 41.028}, "LUX": {"id": 442, "name": "Luxembourg", "value": 15.088}, "NLD": {"id": 528, "name": "Netherlands (the)", "value": 15.64}, "NZL": {"id": 554, "name": "New Zealand", "value": 73.125}, "NOR": {"id": 578, "name": "Norway", "value": 9.69}, "POL": {"id": 616, "name": "Poland", "value": 11.315}, "PRT": {"id": 620, "name": "Portugal", "value": 21.857}, "SVK": {"id": 703, "name": "Slovakia", "value": 20.355}, "ESP": {"id": 724, "name": "Spain", "value": 17.161}, "SWE": {"id": 752, "name": "Sweden", "value": 11.904}, "CHE": {"id": 756, "name": "Switzerland", "value": 22.801}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 24.379}, "USA": {"id": 840, "name": "United States of America (the)", "value": 22.091}, "BGR": {"id": 100, "name": "Bulgaria", "value": 12.012}, "CYP": {"id": 196, "name": "Cyprus", "value": 31.399}, "ISR": {"id": 376, "name": "Israel", "value": 24.207}, "LVA": {"id": 428, "name": "Latvia", "value": 18.919}, "LTU": {"id": 440, "name": "Lithuania", "value": 15.083}, "MLT": {"id": 470, "name": "Malta", "value": 13.555}, "ROU": {"id": 642, "name": "Romania", "value": 16.16}, "SVN": {"id": 705, "name": "Slovenia", "value": 93.588}, "OECD": {"id": null, "name": "OECD", "value": 175.057}, "EU27": {"id": null, "name": "EU27", "value": 16.117}}, "2003": {"AUS": {"id": 36, "name": "Australia", "value": 13.043}, "AUT": {"id": 40, "name": "Austria", "value": 21.136}, "BEL": {"id": 56, "name": "Belgium", "value": 15.205}, "CAN": {"id": 124, "name": "Canada", "value": 22.502}, "CZE": {"id": 203, "name": "Czechia", "value": 15.637}, "DNK": {"id": 208, "name": "Denmark", "value": 99.218}, "FIN": {"id": 246, "name": "Finland", "value": 20.099}, "DEU": {"id": 276, "name": "Germany", "value": 19.554}, "HUN": {"id": 348, "name": "Hungary", "value": 14.76}, "JPN": {"id": 392, "name": "Japan", "value": 31.997}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 40.083}, "NZL": {"id": 554, "name": "New Zealand", "value": 76.923}, "NOR": {"id": 578, "name": "Norway", "value": 93.297}, "SVK": {"id": 703, "name": "Slovakia", "value": 20.689}, "SWE": {"id": 752, "name": "Sweden", "value": 11.52}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 24.124}, "USA": {"id": 840, "name": "United States of America (the)", "value": 20.575}, "CHL": {"id": 152, "name": "Chile", "value": 16.831}, "ISR": {"id": 376, "name": "Israel", "value": 25.325}, "OECD": {"id": null, "name": "OECD", "value": 168.183}, "EU27": {"id": null, "name": "EU27", "value": 154.352}}, "2004": {"AUS": {"id": 36, "name": "Australia", "value": 14.352}, "AUT": {"id": 40, "name": "Austria", "value": 22.43}, "BEL": {"id": 56, "name": "Belgium", "value": 11.832}, "CAN": {"id": 124, "name": "Canada", "value": 22.717}, "CZE": {"id": 203, "name": "Czechia", "value": 1.614}, "DNK": {"id": 208, "name": "Denmark", "value": 10.182}, "FIN": {"id": 246, "name": "Finland", "value": 20.015}, "DEU": {"id": 276, "name": "Germany", "value": 21.85}, "HUN": {"id": 348, "name": "Hungary", "value": 30.343}, "JPN": {"id": 392, "name": "Japan", "value": 31.087}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 39.623}, "NZL": {"id": 554, "name": "New Zealand", "value": 80.766}, "NOR": {"id": 578, "name": "Norway", "value": 84.496}, "POL": {"id": 616, "name": "Poland", "value": 10.638}, "SVK": {"id": 703, "name": "Slovakia", "value": 2.088}, "SWE": {"id": 752, "name": "Sweden", "value": 10.762}, "CHE": {"id": 756, "name": "Switzerland", "value": 22.012}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 23.358}, "USA": {"id": 840, "name": "United States of America (the)", "value": 19.635}, "ISR": {"id": 376, "name": "Israel", "value": 25.013}, "OECD": {"id": null, "name": "OECD", "value": 164.423}, "EU27": {"id": null, "name": "EU27", "value": 149.71}}, "2005": {"AUS": {"id": 36, "name": "Australia", "value": 15.777}, "AUT": {"id": 40, "name": "Austria", "value": 22.032}, "BEL": {"id": 56, "name": "Belgium", "value": 11.511}, "CAN": {"id": 124, "name": "Canada", "value": 21.25}, "CZE": {"id": 203, "name": "Czechia", "value": 1.593}, "DNK": {"id": 208, "name": "Denmark", "value": 10.167}, "FIN": {"id": 246, "name": "Finland", "value": 18.941}, "DEU": {"id": 276, "name": "Germany", "value": 16.347}, "HUN": {"id": 348, "name": "Hungary", "value": 40.215}, "JPN": {"id": 392, "name": "Japan", "value": 32.825}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "value": 39.616}, "MEX": {"id": 484, "name": "Mexico", "value": 16.666}, "NZL": {"id": 554, "name": "New Zealand", "value": 96.111}, "NOR": {"id": 578, "name": "Norway", "value": 86.243}, "SVK": {"id": 703, "name": "Slovakia", "value": 20.099}, "SWE": {"id": 752, "name": "Sweden", "value": 11.304}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "value": 220.639}, "USA": {"id": 840, "name": "United States of America (the)", "value": 18.975}, "ISR": {"id": 3

In [12]:
df_employee.describe()

              time       value     Numeric
count   766.000000  766.000000  721.000000
mean   2005.124021   38.265646  422.061026
std      11.176961   41.167896  260.182327
min    1970.000000    0.384387   36.000000
25%    1999.000000   15.802500  208.000000
50%    2007.000000   21.852500  392.000000
75%    2014.000000   42.004750  620.000000
max    2020.000000  419.340000  840.000000

### 2.2 Country - Year

In [16]:
df_employee_country = df_employee.sort_values('location')
df_employee_country

,location,indicator,subject,measure,frequency,time,value,Alpha-3 code,Country,Numeric
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582,AUS,Australia,36.0
25,AUS,WAGEGAP,EMPLOYEE,PC,A,2001,14.342,AUS,Australia,36.0
26,AUS,WAGEGAP,EMPLOYEE,PC,A,2002,15.000,AUS,Australia,36.0
27,AUS,WAGEGAP,EMPLOYEE,PC,A,2003,13.043,AUS,Australia,36.0
28,AUS,WAGEGAP,EMPLOYEE,PC,A,2004,14.352,AUS,Australia,36.0
...,...,...,...,...,...,...,...,...,...,...
986,USA,WAGEGAP,EMPLOYEE,PC,A,2000,23.088,USA,United States of America (the),840.0
985,USA,WAGEGAP,EMPLOYEE,PC,A,1999,23.462,USA,United States of America (the),840.0
984,USA,WAGEGAP,EMPLOYEE,PC,A,1998,23.745,USA,United States of America (the),840.0
995,USA,WAGEGAP,EMPLOYEE,PC,A,2009,1.978,USA,United States of America (the),840.0
962,USA,WAGEGAP,EMPLOYEE,PC,A,1976,37.755,USA,United States of America (the),840.0

In [18]:
output_country = {} # {country: {id:, name:, data: {year: value}}}
for _, row in df_employee_country.iterrows():
    year = row['time']
    country = row['location']
    id = row['Numeric']
    value = row['value']
    name = country if country in ['OECD', 'EU27'] else row['Country']
    if country not in output_country:
        output_country[country] = {}
    output_country[country]['id'] = int(id) if not pd.isna(id) else None
    output_country[country]['name'] = name
    if 'data' not in output_country[country]:
        output_country[country]['data'] = {}
    output_country[country]['data'][year] = value

In [23]:
with open("employee_wage_gap-country.json", "w") as outfile:
    json.dump(output_country, outfile)
json.dumps(output_country)

'{"AUS": {"id": 36, "name": "Australia", "data": {"1975": 21.582, "2001": 14.342, "2002": 15.0, "2003": 13.043, "2004": 14.352, "2005": 15.777, "2006": 16.666, "2007": 15.4, "2008": 11.937, "2009": 16.363, "2010": 1.404, "2011": 15.966, "2012": 13.75, "2014": 17.05, "2015": 15.384, "2016": 13.728, "2017": 14.507, "2018": 16.142, "2019": 14.965, "2020": 12.266, "2000": 17.2, "1999": 14.285, "2013": 18.0, "1997": 15.254, "1998": 13.242, "1976": 20.754, "1977": 18.39, "1978": 19.791, "1979": 20.0, "1980": 18.75, "1981": 18.253, "1983": 19.155, "1984": 18.674, "1985": 19.607, "1982": 20.819, "1987": 18.518, "1995": 14.478, "1986": 18.848, "1993": 13.224, "1992": 14.258, "1991": 16.015, "1994": 14.409, "1989": 1.858, "1988": 1.879, "1990": 18.181}}, "AUT": {"id": 40, "name": "Austria", "data": {"2012": 18.185, "2020": 13.325, "2019": 14.011, "2018": 14.876, "2017": 1.538, "2016": 15.67, "2015": 1.704, "2014": 17.728, "2013": 18.053, "2011": 18.55, "2004": 22.43, "2009": 19.355, "2008": 20.917, "2007": 21.634, "2006": 21.855, "2005": 22.032, "2003": 21.136, "2002": 2.448, "2001": 22.801, "2000": 23.141, "2010": 19.188}}, "BEL": {"id": 56, "name": "Belgium", "data": {"2011": 58.381, "2012": 64.111, "2013": 59.128, "2014": 32.989, "2010": 70.437, "2017": 41.902, "2018": 34.087, "2019": 3.798, "2016": 37.012, "2009": 74.804, "2015": 4.672, "2007": 98.736, "1999": 15.182, "2000": 13.599, "2001": 13.186, "2002": 11.604, "2008": 89.157, "2003": 15.205, "2004": 11.832, "2005": 11.511, "2006": 10.253}}, "BGR": {"id": 100, "name": "Bulgaria", "data": {"2019": 33.577, "2018": 30.303, "2020": 25.546, "2010": 69.343, "2002": 12.012, "2014": 40.625}}, "CAN": {"id": 124, "name": "Canada", "data": {"2012": 19.511, "2019": 17.607, "2018": 18.518, "2017": 1.817, "2016": 18.221, "2015": 1.862, "2014": 19.229, "2013": 1.93, "2020": 16.112, "2011": 19.175, "2009": 20.131, "1997": 24.705, "1998": 24.855, "1999": 24.0, "2000": 23.875, "2010": 18.977, "2002": 24.013, "2001": 24.324, "2004": 22.717, "2005": 21.25, "2006": 21.123, "2007": 20.808, "2003": 22.502, "2008": 20.454}}, "CHE": {"id": 756, "name": "Switzerland", "data": {"2018": 15.095, "2020": 13.783, "2019": 17.163, "2016": 14.762, "2012": 19.343, "2010": 20.053, "2008": 21.307, "2006": 21.318, "2004": 22.012, "2002": 22.801, "2000": 23.787, "1998": 24.122, "1996": 25.472, "2014": 16.94}}, "CHL": {"id": 152, "name": "Chile", "data": {"2020": 85.964, "2017": 12.5, "2015": 14.285, "2013": 10.666, "2011": 16.0, "2003": 16.831, "2006": 55.555, "2000": 60.729, "1998": 14.285, "2009": 90.909}}, "COL": {"id": 170, "name": "Colombia", "data": {"2015": 11.141, "2018": 57.879, "2017": 76.923, "2019": 4.0, "2016": 70.917, "2014": 9.6, "2009": 33.846, "2012": 81.979, "2011": 35.348, "2010": 64.305, "2008": 17.396, "2007": 13.393, "2013": 71.428}}, "CRI": {"id": 188, "name": "Costa Rica", "data": {"2018": 47.252, "2017": 2.967, "2016": 17.857, "2014": 51.497, "2012": 0.5524861878, "2011": 46.306, "2015": 37.037}}, "CYP": {"id": 196, "name": "Cyprus", "data": {"2014": 13.409, "2002": 31.399, "2006": 30.478, "2010": 24.6, "2018": 15.871}}, "CZE": {"id": 203, "name": "Czechia", "data": {"2017": 15.614, "2010": 15.798, "2011": 16.329, "2009": 15.105, "2008": 17.873, "2007": 16.931, "2006": 15.351, "2005": 1.593, "2004": 1.614, "2003": 15.637, "2002": 1.595, "2001": 16.876, "2020": 12.372, "1997": 18.429, "1996": 18.289, "2019": 14.714, "2018": 15.127, "2016": 16.023, "2015": 16.455, "2014": 16.254, "2012": 15.262, "1999": 19.03, "2013": 15.378}}, "DEU": {"id": 276, "name": "Germany", "data": {"2008": 16.737, "2003": 19.554, "2005": 16.347, "2004": 21.85, "2009": 16.524, "2006": 18.128, "2010": 16.694, "2014": 171.875, "2012": 15.646, "2013": 14.093, "2015": 15.816, "2016": 15.51, "2017": 1.619, "2018": 15.25, "2019": 13.894, "2002": 19.076, "2011": 16.944, "2001": 19.105, "2007": 16.715, "1999": 20.169, "2000": 19.579, "1992": 26.935, "1993": 23.017, "1998": 20.896, "1995": 19.411, "1996": 20.649, "1994": 2.049, "1997": 21.409}}, "DNK": {"id": 208, "name": "Denmark", "data": {"2019": 50.592, "2002": 10.797, "2003": 99.218, "2004": 10.182, "2005": 10.167, "2007": 98.502, "2017": 52.966, "2006": 10.172, "2015": 58.36, "2016": 57.326, "2008": 10.183, "2009": 10.172, "2010": 8.895, "2018": 48.632, "2012": 69.998, "2013": 67.689, "2014": 63.238, "2011": 79.471}}, "ESP": {"id": 724, "name": "Spain", "data": {"2014": 11.54, "2002": 17.161, "2010": 13.504, "2006": 13.533, "2018": 86.216}}, "EST": {"id": 233, "name": "Estonia", "data": {"2010": 23.494, "2014": 22.888, "2018": 17.318}}, "EU27": {"id": null, "name": "EU27", "data": {"2003": 154.352, "2018": 111.385, "2002": 16.117, "2005": 142.175, "2006": 130.878, "2007": 130.035, "2008": 125.905, "2009": 119.49, "2004": 149.71, "2010": 122.495, "2012": 122.925, "2013": 120.315, "2014": 118.201, "2015": 120.302, "2016": 115.776, "2017": 113.314, "2011": 121.719, "2019": 111.223, "2020": 107.951}}, "FIN": {"id": 246, "name": "Finland", "data": {"2005": 18.941, "1996": 20.582, "1997": 21.332, "1998": 20.8, "1999": 21.716, "2000": 20.427, "2001": 21.239, "2002": 20.373, "2003": 20.099, "2017": 17.717, "2016": 1.647, "2015": 18.055, "2014": 19.609, "2004": 20.015, "2013": 20.178, "2006": 19.374, "2007": 21.376, "2008": 21.233, "2009": 19.675, "2010": 18.876, "1995": 2.24, "2011": 18.607, "1994": 23.149, "1992": 20.284, "1977": 2.769, "1978": 27.088, "1979": 27.168, "1980": 26.623, "2019": 17.159, "1993": 21.984, "1982": 25.961, "2018": 18.855, "1984": 23.427, "1986": 22.531, "1987": 23.612, "1988": 23.045, "1989": 23.559, "1990": 22.862, "1991": 21.467, "1983": 25.631, "2012": 18.726}}, "FRA": {"id": 250, "name": "France", "data": {"2002": 1.33, "2006": 93.907, "2014": 98.721, "2018": 11.823, "2010": 91.188}}, "GBR": {"id": 826, "name": "United Kingdom of Great Britain and Northern Ireland (the)", "data": {"1995": 28.192, "2013": 17.482, "2012": 17.783, "2011": 18.246, "2010": 19.231, "2009": 20.686, "2008": 21.857, "2007": 21.634, "2006": 21.718, "2005": 220.639, "2004": 23.358, "2003": 24.124, "2002": 24.379, "2001": 25.639, "2000": 26.28, "1999": 26.089, "1998": 27.035, "1997": 26.919, "1986": 34.938, "1987": 34.512, "1996": 27.218, "1988": 34.045, "1989": 33.73, "1990": 32.744, "1991": 31.075, "1992": 299.466, "1993": 28.719, "1994": 28.079, "2014": 17.382, "2015": 17.101, "1984": 35.081, "2017": 16.534, "1974": 44.422, "1973": 46.378, "2016": 16.796, "1972": 45.677, "1970": 47.578, "1971": 45.527, "1976": 36.55, "1977": 3.578, "1978": 37.474, "1979": 38.295, "1980": 36.688, "1981": 35.426, "1982": 35.659, "1983": 34.567, "2020": 12.277, "2019": 16.099, "2018": 16.31, "1975": 39.855, "1985": 35.12}}, "GRC": {"id": 300, "name": "Greece", "data": {"2014": 71.715, "2002": 23.565, "2006": 17.725, "2010": 99.099, "2018": 59.09, "2020": 89.137, "2019": 59.09}}, "HRV": {"id": 191, "name": "Croatia", "data": {"2018": 79.15, "2019": 75.748, "2020": 12.452, "2010": 38.323}}, "HUN": {"id": 348, "name": "Hungary", "data": {"2002": 91.297, "2013": 87.236, "2004": 30.343, "2005": 40.215, "2006": 0.3843870359, "2007": 36.481, "2008": 22.206, "2009": 38.76, "2010": 63.817, "2011": 68.639, "2012": 11.332, "2020": 99.269, "2014": 37.726, "2015": 95.238, "2016": 93.643, "2003": 14.76, "2001": 13.689, "1999": 1.53, "2019": 12.753, "2000": 14.098, "1992": 17.391, "1993": 79.486, "1994": 15.181, "1989": 25.979, "1996": 17.775, "1998": 15.671, "2017": 53.202, "1995": 15.754, "2018": 50.632}}, "IRL": {"id": 372, "name": "Ireland", "data": {"2019": 51.72, "2018": 82.84, "2014": 10.606, "2010": 14.345, "2006": 19.602, "2002": 17.769}}, "ISL": {"id": 352, "name": "Iceland", "data": {"2002": 28.722, "2006": 23.269, "2010": 1.646, "2014": 1.384, "2018": 12.901}}, "ISR": {"id": 376, "name": "Israel", "data": {"2009": 2.113, "2002": 24.207, "2003": 25.325, "2004": 25.013, "2005": 21.924, "2006": 21.955, "2007": 2.04, "2008": 22.058, "2010": 20.391, "2012": 20.0, "2001": 27.974, "2013": 20.345, "2014": 20.108, "2015": 20.439, "2016": 21.593, "2017": 21.791, "2018": 22.659, "2011": 19.659}}, "ITA": {"id": 380, "name": "Italy", "data": {"2014": 65.847, "2018": 57.08, "2006": 10.512, "2010": 56.405, "2002": 15.725, "2019": 76.401}}, "JPN": {"id": 392, "name": "Japan", "data": {"1982": 4.215, "1991": 39.898, "1985": 41.659, "1984": 419.34, "2006": 32.98, "2005": 32.825, "2004": 31.087, "2003": 31.997, "2002": 32.529, "2001": 33.864, "2000": 3.385, "1999": 34.55, "1998": 35.307, "1997": 36.521, "1996": 36.847, "1995": 37.09, "1994": 37.815, "1993": 38.45, "1992": 38.884, "2009": 28.284, "1990": 4.059, "1989": 40.963, "1988": 41.018, "1987": 41.226, "1986": 41.605, "1983": 41.903, "2010": 28.684, "2016": 24.601, "2012": 26.523, "2011": 27.395, "1975": 42.389, "1976": 39.741, "1977": 40.326, "1978": 40.565, "1979": 41.313, "1980": 4.168, "1981": 41.956, "2008": 30.694, "2020": 22.518, "2019": 23.48, "2018": 23.537, "2017": 24.518, "2007": 31.742, "2015": 25.731, "2014": 25.87, "2013": 26.587}}, "KOR": {"id": 410, "name": "Korea (the Republic of)", "data": {"1992": 46.965, "2017": 34.617, "2016": 36.666, "2015": 37.176, "2014": 36.653, "2013": 36.599, "2010": 39.605, "2011": 365.642, "2018": 34.107, "2009": 38.614, "2008": 39.037, "2012": 36.298, "2019": 32.48, "2002": 41.028, "2005": 39.616, "2004": 39.623, "2003": 40.083, "1985": 52.776, "2001": 40.416, "2000": 41.654, "1999": 4.18, "1998": 42.021, "1996": 43.282, "1995": 44.182, "1994": 45.506, "1993": 47.26, "2020": 3.148, "1997": 42.215, "2006": 39.774, "2007": 38.162}}, "LTU": {"id": 440, "name": "Lithuania", "data": {"2002": 15.083, "2006": 16.818, "2010": 10.642, "2014": 12.479, "2018": 11.689}}, "LUX": {"id": 442, "name": "Luxembourg", "data": {"2002": 15.088, "2014": 34.029, "2010": 45.921, "2006": 76.68}}, "LVA": {"id": 428, "name": "Latvia", "data": {"2002": 18.919, "2018": 20.289, "2014": 21.122, "2010": 19.055, "2006": 84.656}}, "MEX": {"id": 484, "name": "Mexico", "data": {"2018": 14.0, "2017": 11.111, "2016": 16.492, "2015": 16.666, "2014": 18.3, "2013": 15.433, "2005": 16.666, "2011": 10.0, "2010": 11.627, "2009": 16.666, "2008": 22.222, "2007": 12.5, "2006": 18.604, "2012": 13.555, "2020": 96.124, "2019": 18.75}}, "MLT": {"id": 470, "name": "Malta", "data": {"2014": 89.894, "2002": 13.555, "2006": 74.407, "2010": 70.678, "2018": 1.109}}, "NLD": {"id": 528, "name": "Netherlands (the)", "data": {"2006": 15.982, "2002": 15.64, "2018": 12.657, "2014": 15.304, "2010": 1.788}}, "NOR": {"id": 578, "name": "Norway", "data": {"2013": 65.97, "1997": 93.189, "1998": 88.878, "1999": 92.159, "2000": 9.225, "2001": 97.875, "2002": 9.69, "2003": 93.297, "2004": 84.496, "2005": 86.243, "2006": 8.21, "2007": 87.894, "2009": 82.843, "2012": 57.921, "2010": 72.36, "2011": 71.448, "2020": 48.138, "2019": 43.678, "2018": 51.293, "2017": 54.947, "2016": 63.063, "2015": 69.577, "2014": 58.006, "2008": 87.575}}, "NZL": {"id": 554, "name": "New Zealand", "data": {"2014": 60.833, "2015": 7.92, "1988": 20.289, "1986": 23.014, "1998": 11.4, "1999": 83.333, "2000": 71.665, "2001": 80.562, "2002": 73.125, "2003": 76.923, "2004": 80.766, "2005": 96.111, "2006": 93.333, "2007": 71.428, "2008": 80.536, "1984": 21.474, "2009": 87.591, "2010": 70.112, "2011": 45.333, "2012": 59.079, "2013": 65.943, "1997": 12.709, "1996": 20.394, "1995": 1.368, "1990": 17.111, "2020": 45.814, "2019": 65.084, "2018": 78.696, "2017": 71.508, "2016": 77.692, "1994": 13.302, "1992": 1.557}}, "OECD": {"id": null, "name": "OECD", "data": {"2001": 17.854, "2000": 180.863, "1998": 186.979, "2020": 116.2, "1996": 191.633, "1995": 189.449, "2002": 175.057, "1997": 188.558, "2003": 168.183, "1999": 183.57, "2005": 159.236, "2019": 125.389, "2018": 127.372, "2017": 127.119, "2004": 164.423, "2015": 136.113, "2014": 133.876, "2013": 133.039, "2016": 130.297, "2011": 133.596, "2010": 135.057, "2009": 139.961, "2008": 145.281, "2006": 153.659, "2007": 145.34, "2012": 134.084}}, "POL": {"id": 616, "name": "Poland", "data": {"2006": 11.44, "2008": 12.993, "2010": 71.902, "2014": 1.107, "2016": 94.178, "2018": 11.497, "2020": 86.906, "1991": 20.148, "2012": 10.62, "2004": 10.638, "1992": 17.247, "1994": 18.853, "1995": 20.104, "1996": 20.465, "1993": 20.028, "1997": 18.568, "1998": 19.107, "1999": 17.559, "2001": 14.299, "2002": 11.315}}, "PRT": {"id": 620, "name": "Portugal", "data": {"2020": 11.716, "2019": 11.419, "2018": 11.665, "2014": 15.321, "2010": 16.02, "2006": 12.808, "2002": 21.857}}, "ROU": {"id": 642, "name": "Romania", "data": {"2014": 15.463, "2010": 96.317, "2002": 16.16, "2006": 83.969, "2018": 34.965}}, "SVK": {"id": 703, "name": "Slovakia", "data": {"2012": 15.965, "2013": 14.109, "2014": 14.35, "2015": 13.376, "2016": 13.899, "2017": 15.04, "2018": 15.662, "2019": 13.869, "2020": 11.014, "2004": 2.088, "2009": 16.432, "2008": 16.444, "2007": 17.521, "2006": 17.802, "2005": 20.099, "2003": 20.689, "2002": 20.355, "2011": 15.449, "2010": 14.851}}, "SVN": {"id": 705, "name": "Slovenia", "data": {"2010": 0.9917355372, "2014": 49.962, "2018": 81.945, "2002": 93.588, "2006": 65.573}}, "SWE": {"id": 752, "name": "Sweden", "data": {"1995": 96.774, "1997": 11.56, "2020": 74.183, "2019": 75.757, "2018": 71.428, "2017": 73.482, "2016": 81.699, "2015": 83.333, "2014": 91.525, "2013": 9.375, "2012": 92.857, "2011": 91.575, "2010": 93.632, "2009": 95.419, "2008": 10.588, "2007": 11.836, "2006": 11.016, "2005": 11.304, "2004": 10.762, "2003": 11.52, "2002": 11.904, "2001": 12.376, "2000": 12.371, "1999": 11.827, "1998": 12.777, "1996": 11.515}}, "TUR": {"id": 792, "name": "Turkey", "data": {"2014": 68.825, "2010": 31.042, "2006": 32.069, "2018": 9.98}}, "USA": {"id": 840, "name": "United States of America (the)", "data": {"1993": 23.876, "1992": 25.057, "1991": 26.571, "1990": 28.455, "1989": 2.936, "1988": 30.069, "1987": 31.022, "1986": 32.19, "1985": 32.978, "1984": 33.432, "1973": 38.11, "1982": 34.724, "1981": 35.174, "1980": 36.552, "1979": 37.641, "1978": 38.972, "1977": 38.224, "1994": 23.884, "1975": 3.763, "1974": 39.1, "1983": 34.286, "1995": 24.579, "2008": 20.05, "1997": 23.786, "2020": 17.652, "2019": 18.47, "2018": 18.91, "2017": 18.172, "2016": 18.142, "2015": 18.882, "2014": 17.451, "2013": 17.906, "2012": 19.086, "2011": 17.788, "1996": 23.823, "2010": 18.81, "2007": 19.843, "2006": 19.246, "2005": 18.975, "2004": 19.635, "2003": 20.575, "2002": 22.091, "2001": 23.582, "2000": 23.088, "1999": 23.462, "1998": 23.745, "2009": 1.978, "1976": 37.755}}}'